@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, button {
  cursor: pointer;
}

input {
  border-width: 1px;
  border-radius: 0.5rem
}

button {
  border: none;
  border-radius: 0.5rem
}

*::-webkit-scrollbar{
  display: none;
}

.layout {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.layout > .outlet {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f0f0f0;
  padding: 0.2rem 0;
  z-index: 20;
}

.layout > .outlet > div {
  padding: 1rem;
  background-color: white;
}

